Repository JeffersonLab/iguana, changes with the owners that CODEOWNERS names for each.
All owners: @c-dilks, @RichCap, @rtysonCLAS12

CODEOWNERS:

#################################################################################
# GitHub Handle                Name
# =============                ====
# @c-dilks                     Christopher Dilks
# @RichCap                     Richard Capobianco
# @rtysonCLAS12                Richard Tyson
#################################################################################

* @c-dilks
src/iguana/algorithms/clas12/MomentumCorrection.* @RichCap @c-dilks
src/iguana/algorithms/clas12/ZVertexFilter.* @rtysonCLAS12
src/iguana/algorithms/clas12/SectorFinder.* @rtysonCLAS12
src/iguana/services/YAMLReader.* @rtysonCLAS12 @c-dilks

perf: replace `std::string const`-type parameters with `std::string_view` (#150)
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmBoilerplate.h
  src/iguana/algorithms/AlgorithmSequence.cc
  src/iguana/algorithms/AlgorithmSequence.h
  src/iguana/algorithms/Validator.cc
  src/iguana/algorithms/Validator.h
  src/iguana/services/ConfigFileReader.cc
  src/iguana/services/ConfigFileReader.h
  src/iguana/services/Logger.cc
  src/iguana/services/Logger.h
  src/iguana/services/Object.cc
  src/iguana/services/Object.h
  src/iguana/services/YAMLReader.cc
  src/iguana/services/YAMLReader.h
Owners: @c-dilks, @rtysonCLAS12

doc: make the front page nicer
  README.md
Owners: @c-dilks

test: algo list
  doc/doxygen.md
Owners: @c-dilks

doc: improve project description and algorithms' documentation
  README.md
Owners: @c-dilks

doc: update
  .gitignore
  README.md
  doc/logo.png
Owners: @c-dilks

doc: list of algorithms
  .github/install-dependency-packages.sh
  .github/workflows/ci.yml
  doc/doxygen.md
Owners: @c-dilks

test: fail doxygen
  src/iguana/algorithms/Algorithm.h
Owners: @c-dilks

test: build against `hipo` PR 50
  .github/workflows/ci.yml
Owners: @c-dilks

Revert "test: fail doxygen"
  src/iguana/algorithms/Algorithm.h
Owners: @c-dilks

ci: temporarly roll back to meson 1.3.2
  .github/install-dependency-packages.sh
Owners: @c-dilks

fix: install `pip`
  .github/install-dependency-packages.sh
Owners: @c-dilks

fix: `pip` -> ALA
  .github/install-dependency-packages.sh
Owners: @c-dilks

fix: UB in logger test
  src/iguana/tests/include/TestLogger.h
Owners: @c-dilks

fix: another UB in logger test
  src/iguana/tests/include/TestLogger.h
Owners: @c-dilks

doc: clarify
  .github/install-dependency-packages.sh
Owners: @c-dilks

ci: temporarly roll back to meson 1.3.2 (#155)
  .github/install-dependency-packages.sh
  src/iguana/tests/include/TestLogger.h
Owners: @c-dilks

test: algo list
  doc/doxygen.md
Owners: @c-dilks

doc: update
  .gitignore
  README.md
  doc/logo.png
Owners: @c-dilks

doc: make the front page nicer
  README.md
Owners: @c-dilks

doc: improve project description and algorithms' documentation
  README.md
Owners: @c-dilks

doc: list of algorithms
  .github/install-dependency-packages.sh
  .github/workflows/ci.yml
  doc/doxygen.md
Owners: @c-dilks

doc: brief
  doc/Doxyfile
  src/iguana/algorithms/clas12/EventBuilderFilter.h
  src/iguana/algorithms/clas12/LorentzTransformer.h
  src/iguana/algorithms/clas12/MomentumCorrection.h
  src/iguana/algorithms/clas12/ZVertexFilter.h
  src/iguana/algorithms/physics/InclusiveKinematics.h
Owners: @c-dilks, @RichCap, @rtysonCLAS12

doc: improvements
  doc/Doxyfile
  doc/DoxygenLayout.xml
  doc/doxygen.md
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/clas12/EventBuilderFilter.h
  src/iguana/algorithms/clas12/LorentzTransformer.h
  src/iguana/algorithms/clas12/MomentumCorrection.h
  src/iguana/algorithms/clas12/ZVertexFilter.h
  src/iguana/algorithms/physics/InclusiveKinematics.h
Owners: @c-dilks, @RichCap, @rtysonCLAS12

doc: `SectorFinder` and `ExampleAlgorithm`
  src/iguana/algorithms/clas12/SectorFinder.h
  src/iguana/algorithms/clas12/SectorFinder.yaml
  src/iguana/algorithms/example/ExampleAlgorithm.h
Owners: @rtysonCLAS12, @c-dilks

doc: fill out some docstrings
  doc/Doxyfile
  src/iguana/algorithms/clas12/EventBuilderFilter.h
  src/iguana/algorithms/clas12/LorentzTransformer.h
  src/iguana/algorithms/clas12/MomentumCorrection.h
  src/iguana/algorithms/clas12/SectorFinder.h
  src/iguana/algorithms/clas12/ZVertexFilter.cc
  src/iguana/algorithms/clas12/ZVertexFilter.h
  src/iguana/algorithms/example/ExampleAlgorithm.h
  src/iguana/algorithms/physics/InclusiveKinematics.h
Owners: @c-dilks, @RichCap, @rtysonCLAS12

doc: define `iguanaaction` alias
  doc/Doxyfile
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/clas12/EventBuilderFilter.h
Owners: @c-dilks

test: fail doxygen
  src/iguana/algorithms/Algorithm.h
Owners: @c-dilks

doc: property tables
  doc/Doxyfile
  src/iguana/algorithms/clas12/EventBuilderFilter.h
Owners: @c-dilks

doc: algorithm grouping and examples
  doc/Doxyfile
  doc/DoxygenLayout.xml
  doc/doxygen.md
  doc/namespaces.h
  examples/README.md
  examples/iguana-example-00-basic.cc
  examples/iguana-example-01-bank-rows.cc
  examples/iguana-example-02-config-files.cc
  src/iguana/algorithms/Docstrings.h
  src/iguana/algorithms/example/README.md
Owners: @c-dilks

doc: define some aliases
  doc/Doxyfile
  src/iguana/algorithms/clas12/EventBuilderFilter.h
Owners: @c-dilks

Revert "test: fail doxygen"
  src/iguana/algorithms/Algorithm.h
Owners: @c-dilks

fix: install `dot`
  .github/install-dependency-packages.sh
Owners: @c-dilks

fix: `zcuts` -> `cuts`
  examples/iguana-example-02-config-files.cc
Owners: @c-dilks

ci: revert changes, since they make it harder to find documentation errors
  .github/install-dependency-packages.sh
  .github/workflows/ci.yml
Owners: @c-dilks

build: remove `documentation` build option, in preference of standalone `doxygen`
  .github/workflows/ci.yml
  meson.build
  meson.options
  meson/ifarm/ifarm.ini
Owners: @c-dilks

fix: use latest `doxygen`
  .github/install-dependency-packages.sh
  .github/workflows/ci.yml
Owners: @c-dilks

style: spacing
  .github/install-dependency-packages.sh
Owners: @c-dilks

fix: install deps for documentation generation
  .github/workflows/ci.yml
Owners: @c-dilks

renamed: doxygen.md -> DoxygenMainpage.md
  doc/Doxyfile
  doc/DoxygenMainpage.md
Owners: @c-dilks

doc: improve project description and algorithms' documentation (#149)
  .github/install-dependency-packages.sh
  .github/workflows/ci.yml
  .gitignore
  README.md
  doc/Doxyfile
  doc/DoxygenLayout.xml
  doc/DoxygenMainpage.md
  doc/doxygen.md
  doc/logo.png
  doc/namespaces.h
  examples/README.md
  examples/iguana-example-00-basic.cc
  examples/iguana-example-01-bank-rows.cc
  examples/iguana-example-02-config-files.cc
  meson.build
  meson.options
  meson/ifarm/ifarm.ini
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/Docstrings.h
  src/iguana/algorithms/clas12/EventBuilderFilter.h
  src/iguana/algorithms/clas12/LorentzTransformer.h
  src/iguana/algorithms/clas12/MomentumCorrection.h
  src/iguana/algorithms/clas12/SectorFinder.h
  src/iguana/algorithms/clas12/SectorFinder.yaml
  src/iguana/algorithms/clas12/ZVertexFilter.cc
  src/iguana/algorithms/clas12/ZVertexFilter.h
  src/iguana/algorithms/example/ExampleAlgorithm.h
  src/iguana/algorithms/example/README.md
  src/iguana/algorithms/physics/InclusiveKinematics.h
Owners: @c-dilks, @RichCap, @rtysonCLAS12
