Repository JeffersonLab/iguana, changes with the owners that CODEOWNERS names for each.
All owners: @c-dilks, @RichCap, @rtysonCLAS12

fix(build): `SectorFinder` syntax
  src/iguana/algorithms/meson.build
Owners: @c-dilks

fix: get the sector number in `MomentumCorrection`
  bind/python/iguana-example-00-basic.py
  bind/python/iguana-example-01-bank-rows.py
  examples/iguana-example-00-basic.cc
  examples/iguana-example-01-bank-rows.cc
  src/iguana/algorithms/clas12/MomentumCorrection.cc
  src/iguana/algorithms/clas12/MomentumCorrection.h
  src/iguana/algorithms/meson.build
  src/iguana/tests/iguana-test.cc
Owners: @c-dilks, @RichCap

fix: plot each sector's corrections separately
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.cc
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.h
Owners: @c-dilks

fix: add ROOT to `build_rpath`, in a desparate attempt to fix sporadic CI failures
  examples/meson.build
  meson.build
  src/iguana/algorithms/meson.build
  src/iguana/tests/meson.build
Owners: @c-dilks

fix(SectorFinder): only define bank lvalues if used
  src/iguana/algorithms/clas12/SectorFinder.cc
Owners: @rtysonCLAS12

style: auto format
  examples/iguana-example-00-basic.cc
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.cc
  src/iguana/algorithms/clas12/SectorFinder.cc
  src/iguana/algorithms/clas12/SectorFinder.h
Owners: @c-dilks, @rtysonCLAS12

fix: make things `const`
  src/iguana/algorithms/clas12/SectorFinder.cc
  src/iguana/algorithms/clas12/SectorFinder.h
Owners: @rtysonCLAS12

test: PIC build ROOT for sanitizer readability
  .github/workflows/ci.yml
Owners: @c-dilks

Revert "test: PIC build ROOT for sanitizer readability"
  .github/workflows/ci.yml
Owners: @c-dilks

fix: ROOT LSAN suppressions
  .github/workflows/ci.yml
Owners: @c-dilks

test: try to hijack `ASAN_OPTIONS`
  .github/workflows/ci.yml
Owners: @c-dilks

build: set sanitizer options in `meson.build`
  .github/workflows/ci.yml
  examples/meson.build
  meson.build
  meson/ubsan.supp
  src/iguana/tests/meson.build
Owners: @c-dilks

build: suppress `libCling` leaks
  meson.build
  meson/lsan.supp
Owners: @c-dilks

fix: use `noROOT` build for consumer tests
  .github/workflows/ci.yml
Owners: @c-dilks

doc: warn about `SectorFinder` not having action functions
  bind/python/iguana-example-01-bank-rows.py
  examples/iguana-example-01-bank-rows.cc
  src/iguana/algorithms/clas12/SectorFinder.h
Owners: @c-dilks, @rtysonCLAS12

doc: clarify
  doc/testing.md
Owners: @c-dilks

doc: clarify
  meson.options
Owners: @c-dilks

doc: improve class diagrams
  doc/Doxyfile
Owners: @c-dilks

refactor: streamline boilerplate
  src/iguana/algorithms/AlgorithmBoilerplate.h
Owners: @c-dilks

ci: process all events
  .github/workflows/ci.yml
Owners: @c-dilks

fix: use the right `std::` tool for the job
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.cc
Owners: @c-dilks

doc: clarify
  src/iguana/algorithms/example/README.md
Owners: @c-dilks

ci: revert to 1k events only
  .github/workflows/ci.yml
Owners: @c-dilks

doc: improve class diagrams (#129)
  doc/Doxyfile
Owners: @c-dilks

feat: algorithm validators (#123)
  .github/workflows/ci.yml
  .gitignore
  README.md
  bind/python/iguana-example-00-basic.py
  bind/python/iguana-example-01-bank-rows.py
  doc/testing.md
  examples/iguana-example-00-basic.cc
  examples/iguana-example-01-bank-rows.cc
  examples/meson.build
  meson.build
  meson.options
  meson/lsan.supp
  meson/ubsan.supp
  src/iguana/algorithms/AlgorithmBoilerplate.h
  src/iguana/algorithms/TypeDefs.h
  src/iguana/algorithms/Validator.cc
  src/iguana/algorithms/Validator.h
  src/iguana/algorithms/clas12/MomentumCorrection.cc
  src/iguana/algorithms/clas12/MomentumCorrection.h
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.cc
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.h
  src/iguana/algorithms/clas12/SectorFinder.cc
  src/iguana/algorithms/clas12/SectorFinder.h
  src/iguana/algorithms/example/README.md
  src/iguana/algorithms/meson.build
  src/iguana/tests/iguana-test.cc
  src/iguana/tests/include/TestValidator.h
  src/iguana/tests/meson.build
Owners: @c-dilks, @RichCap, @rtysonCLAS12

feat: calculate inclusive kinematics
  src/iguana/algorithms/TypeDefs.h
  src/iguana/algorithms/meson.build
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
  src/iguana/algorithms/physics/InclusiveKinematics.yaml
Owners: @c-dilks

feat: lepton finder
  src/iguana/algorithms/clas12/LorentzTransformer.cc
  src/iguana/algorithms/clas12/LorentzTransformer.h
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
Owners: @c-dilks

doc: namespaces
  doc/namespaces.h
Owners: @c-dilks

feat: calculations
  src/iguana/algorithms/clas12/LorentzTransformer.cc
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
  src/iguana/algorithms/physics/InclusiveKinematics.yaml
Owners: @c-dilks

feat: create the output bank
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
Owners: @c-dilks

feat: validator
  src/iguana/algorithms/meson.build
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.cc
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.h
Owners: @c-dilks

style: format
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
Owners: @c-dilks

fix: suppress `hipo::structure::getShortAt`
  meson/ubsan.supp
Owners: @c-dilks

feat: more plots
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.cc
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.h
Owners: @c-dilks

fix: type
  src/iguana/algorithms/physics/InclusiveKinematics.cc
Owners: @c-dilks

fix: `cd` pad
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.cc
Owners: @c-dilks

fix: use explicit item indices
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.cc
Owners: @c-dilks

fix: make things more robust
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmFactory.cc
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.cc
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.h
  src/iguana/tests/include/TestValidator.h
Owners: @c-dilks

fix: debugging in progress...
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.cc
Owners: @c-dilks

fix(ci): always upload sanitizer log artifacts
  .github/workflows/ci.yml
Owners: @c-dilks

CODEOWNERS:

#################################################################################
# GitHub Handle                Name
# =============                ====
# @c-dilks                     Christopher Dilks
# @RichCap                     Richard Capobianco
# @rtysonCLAS12                Richard Tyson
#################################################################################

* @c-dilks
src/iguana/algorithms/clas12/MomentumCorrection.* @RichCap @c-dilks
src/iguana/algorithms/clas12/ZVertexFilter.* @rtysonCLAS12
src/iguana/algorithms/clas12/SectorFinder.* @rtysonCLAS12
src/iguana/services/YAMLReader.* @rtysonCLAS12 @c-dilks
