Repository JeffersonLab/iguana, changes with the owners that CODEOWNERS names for each.
All owners: @c-dilks, @RichCap, @rtysonCLAS12

CODEOWNERS:

#################################################################################
# GitHub Handle                Name
# =============                ====
# @c-dilks                     Christopher Dilks
# @RichCap                     Richard Capobianco
# @rtysonCLAS12                Richard Tyson
#################################################################################

* @c-dilks
src/iguana/algorithms/clas12/MomentumCorrection.* @RichCap @c-dilks
src/iguana/algorithms/clas12/ZVertexFilter.* @rtysonCLAS12
src/iguana/algorithms/clas12/SectorFinder.* @rtysonCLAS12
src/iguana/services/YAMLReader.* @rtysonCLAS12 @c-dilks

fix: macOS prefixes coreutils with `g`
  .github/workflows/ci.yml
Owners: @c-dilks

fix: bad beam vector
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.cc
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.h
Owners: @c-dilks

style: auto-format
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.cc
Owners: @c-dilks

fix(ci): syntax
  .github/workflows/ci.yml
Owners: @c-dilks

ci: revert to terse testing
  .github/workflows/ci.yml
Owners: @c-dilks

doc: clarify docstring
  src/iguana/algorithms/Algorithm.h
Owners: @c-dilks

fix: suppress another misalignment
  meson/ubsan.supp
Owners: @c-dilks

fix: another ubsan suppression
  meson/ubsan.supp
Owners: @c-dilks

feat: calculate inclusive kinematics (#128)
  .github/workflows/ci.yml
  doc/namespaces.h
  meson/ubsan.supp
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmFactory.cc
  src/iguana/algorithms/TypeDefs.h
  src/iguana/algorithms/clas12/LorentzTransformer.cc
  src/iguana/algorithms/clas12/LorentzTransformer.h
  src/iguana/algorithms/meson.build
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
  src/iguana/algorithms/physics/InclusiveKinematics.yaml
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.cc
  src/iguana/algorithms/physics/InclusiveKinematicsValidator.h
  src/iguana/tests/include/TestValidator.h
Owners: @c-dilks

build: revert static `hipo` link
  meson.build
Owners: @c-dilks

fix: rpaths
  examples/build_with_meson/meson.build
  meson.build
Owners: @c-dilks

build: add native file for `ifarm` builds
  meson/ifarm/README.md
  meson/ifarm/ifarm.ini
Owners: @c-dilks

test: meson 1.4 respecting sanitizer options
  .github/workflows/ci.yml
Owners: @c-dilks

build: revert static `hipo` link (#132)
  examples/build_with_meson/meson.build
  meson.build
Owners: @c-dilks

build: add native file for `ifarm` builds (#133)
  meson/ifarm/README.md
  meson/ifarm/ifarm.ini
Owners: @c-dilks

fix: don't set in `meson.build`
  meson.build
Owners: @c-dilks

fix: better bad option
  .github/workflows/ci.yml
Owners: @c-dilks

doc: link to `ifarm` documentation
  doc/maintenance.md
Owners: @c-dilks

fix: add executable permission for group and other for Python examples
  bind/python/meson.build
Owners: @c-dilks

fix: add executable permission for group and other for Python examples (#139)
  bind/python/meson.build
Owners: @c-dilks

doc: link to `ifarm` documentation (#136)
  doc/maintenance.md
Owners: @c-dilks

feat: tell the user which algorithm(s) create new banks
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmBoilerplate.h
  src/iguana/algorithms/AlgorithmFactory.cc
  src/iguana/algorithms/example/ExampleAlgorithm.cc
  src/iguana/algorithms/physics/InclusiveKinematics.cc
Owners: @c-dilks

refactor: streamline
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmBoilerplate.h
  src/iguana/algorithms/AlgorithmFactory.cc
  src/iguana/algorithms/example/ExampleAlgorithm.cc
  src/iguana/algorithms/physics/InclusiveKinematics.cc
Owners: @c-dilks

fix: fail tests for unregistered new banks
  src/iguana/algorithms/Algorithm.cc
Owners: @c-dilks

fix: default arg for `Register`
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmFactory.cc
Owners: @c-dilks

feat: tell the user which algorithm(s) create new banks (#140)
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmBoilerplate.h
  src/iguana/algorithms/AlgorithmFactory.cc
  src/iguana/algorithms/example/ExampleAlgorithm.cc
  src/iguana/algorithms/physics/InclusiveKinematics.cc
Owners: @c-dilks

test: increase `Logger` coverage
  src/iguana/algorithms/Algorithm.h
  src/iguana/services/Logger.cc
  src/iguana/tests/iguana-test.cc
  src/iguana/tests/include/TestLogger.h
  src/iguana/tests/meson.build
Owners: @c-dilks

test: `ConfigFileReader` improvement
  src/iguana/tests/include/TestConfig.h
Owners: @c-dilks

test: improve `AlgorithmSequence`
  src/iguana/tests/include/TestAlgorithm.h
Owners: @c-dilks

test: `iguana-test` usage
  src/iguana/tests/meson.build
Owners: @c-dilks

test: increase coverage (#142)
  src/iguana/algorithms/Algorithm.h
  src/iguana/services/Logger.cc
  src/iguana/tests/iguana-test.cc
  src/iguana/tests/include/TestAlgorithm.h
  src/iguana/tests/include/TestConfig.h
  src/iguana/tests/include/TestLogger.h
  src/iguana/tests/meson.build
Owners: @c-dilks

style: qualifier alignment to east `const`
  .clang-format
  examples/iguana-example-00-basic.cc
  examples/iguana-example-01-bank-rows.cc
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmFactory.cc
  src/iguana/algorithms/AlgorithmSequence.cc
  src/iguana/algorithms/clas12/EventBuilderFilter.cc
  src/iguana/algorithms/clas12/EventBuilderFilter.h
  src/iguana/algorithms/clas12/MomentumCorrection.cc
  src/iguana/algorithms/clas12/MomentumCorrection.h
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.cc
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.h
  src/iguana/algorithms/clas12/SectorFinder.cc
  src/iguana/algorithms/clas12/SectorFinder.h
  src/iguana/algorithms/clas12/ZVertexFilter.cc
  src/iguana/algorithms/clas12/ZVertexFilter.h
  src/iguana/algorithms/example/ExampleAlgorithm.cc
  src/iguana/algorithms/example/ExampleAlgorithm.h
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
  src/iguana/services/ConfigFileReader.cc
  src/iguana/services/Logger.cc
  src/iguana/services/Logger.h
  src/iguana/services/YAMLReader.cc
  src/iguana/tests/include/TestConfig.h
  src/iguana/tests/include/TestLogger.h
Owners: @c-dilks, @RichCap, @rtysonCLAS12

ci: increase artifact rentention time
  .github/workflows/ci.yml
Owners: @c-dilks

ci: increase artifact rentention time (#148)
  .github/workflows/ci.yml
Owners: @c-dilks

style: qualifier alignment to east `const` (#143)
  .clang-format
  examples/iguana-example-00-basic.cc
  examples/iguana-example-01-bank-rows.cc
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmFactory.cc
  src/iguana/algorithms/AlgorithmSequence.cc
  src/iguana/algorithms/clas12/EventBuilderFilter.cc
  src/iguana/algorithms/clas12/EventBuilderFilter.h
  src/iguana/algorithms/clas12/MomentumCorrection.cc
  src/iguana/algorithms/clas12/MomentumCorrection.h
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.cc
  src/iguana/algorithms/clas12/MomentumCorrectionValidator.h
  src/iguana/algorithms/clas12/SectorFinder.cc
  src/iguana/algorithms/clas12/SectorFinder.h
  src/iguana/algorithms/clas12/ZVertexFilter.cc
  src/iguana/algorithms/clas12/ZVertexFilter.h
  src/iguana/algorithms/example/ExampleAlgorithm.cc
  src/iguana/algorithms/example/ExampleAlgorithm.h
  src/iguana/algorithms/physics/InclusiveKinematics.cc
  src/iguana/algorithms/physics/InclusiveKinematics.h
  src/iguana/services/ConfigFileReader.cc
  src/iguana/services/Logger.cc
  src/iguana/services/Logger.h
  src/iguana/services/YAMLReader.cc
  src/iguana/tests/include/TestConfig.h
  src/iguana/tests/include/TestLogger.h
Owners: @c-dilks, @RichCap, @rtysonCLAS12

perf: replace `std::string const`-type parameters with `std::string_view`
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmFactory.cc
  src/iguana/algorithms/AlgorithmSequence.cc
  src/iguana/algorithms/AlgorithmSequence.h
  src/iguana/algorithms/Validator.h
  src/iguana/services/ConfigFileReader.cc
  src/iguana/services/ConfigFileReader.h
  src/iguana/services/Logger.cc
  src/iguana/services/Logger.h
  src/iguana/services/Object.cc
  src/iguana/services/Object.h
  src/iguana/services/YAMLReader.h
Owners: @c-dilks, @rtysonCLAS12

fix: `prefix` may be a `string_view`
  src/iguana/services/Logger.h
Owners: @c-dilks

fix: avoid calling `.data()`
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmFactory.cc
  src/iguana/algorithms/AlgorithmSequence.cc
  src/iguana/algorithms/AlgorithmSequence.h
  src/iguana/services/ConfigFileReader.cc
  src/iguana/services/ConfigFileReader.h
  src/iguana/services/Logger.cc
  src/iguana/services/Logger.h
Owners: @c-dilks

fix: a few more string params
  src/iguana/algorithms/Algorithm.cc
  src/iguana/algorithms/Algorithm.h
  src/iguana/algorithms/AlgorithmBoilerplate.h
  src/iguana/algorithms/Validator.cc
  src/iguana/algorithms/Validator.h
  src/iguana/services/YAMLReader.cc
  src/iguana/services/YAMLReader.h
Owners: @c-dilks, @rtysonCLAS12

style: consistent params
  src/iguana/algorithms/AlgorithmSequence.cc
  src/iguana/algorithms/AlgorithmSequence.h
Owners: @c-dilks
